<tr>
    <th scope="row">{{formatDate date "MM-DD-YYYY"}}</th>
    <td>{{newPositives}}</td>
    <td>{{totalPositives}}</td>
    <td>{{hospitalizations}}</td>
    <td>{{intensiveCare}}</td>
    <td>{{deaths}}</td>
</tr>
